    <script src="/js/common.js"></script>

    <% if (page === 'dashboard') { %>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.3/dist/chart.umd.min.js"></script>
        <script src="/js/dashboard.js"></script>
    <% } %>

    <% if (page === 'dca') { %>
        <script src="/js/dca.js"></script> 
    <% } %>

</body>
</html>